In [18]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [19]:
#baseline ver
VER = 6

import pandas as pd, numpy as np
from tqdm.notebook import tqdm
import os, sys, pickle, glob, gc
from collections import Counter
#import cudf, 
import itertools
#print('We will use RAPIDS version',cudf.__version__)

# test data

In [20]:
INPUT_DIR = '/content/drive/MyDrive/kaggle/2022/OTTO/input/'
OUTPUT_DIR = '/content/drive/MyDrive/kaggle/2022/OTTO/output/cris_baseline/popular/'

In [21]:
type_labels = {'clicks':0, 'carts':1, 'orders':2}

def load_test():    
    dfs = []
    for e, chunk_file in enumerate(glob.glob(INPUT_DIR+'cris_baseline/otto-validation/test_parquet/*')):
        chunk = pd.read_parquet(chunk_file)
        chunk.ts = (chunk.ts/1000).astype('int32')
        chunk['type'] = chunk['type'].map(type_labels).astype('int8')
        dfs.append(chunk)
    return pd.concat(dfs).reset_index(drop=True) #.astype({"ts": "datetime64[ms]"})

#test_df
test_df = load_test()
print('Test data has shape',test_df.shape)
test_df

Test data has shape (7683577, 4)

          session      aid          ts  type
0        11188591  1485015  1661165822     0
1        11188591  1562739  1661165866     0
2        11188591  1485015  1661165882     0
3        11188591  1441634  1661165891     0
4        11188591  1485015  1661165901     0
...           ...      ...         ...   ...
7683572  12629597   744187  1661646518     0
7683573  12629597   714524  1661646521     0
7683574  12629597  1844379  1661646612     0
7683575  12629598   894387  1661646273     0
7683576  12629598  1132447  1661646443     0

[7683577 rows x 4 columns]

#test_labels

In [22]:

test_labels = pd.read_parquet('/content/drive/MyDrive/kaggle/2022/OTTO/input/cris_baseline/otto-validation/test_labels.parquet')
test_labels

          session    type                                       ground_truth
0        11098528  clicks                                          [1679529]
1        11098528   carts                                          [1199737]
2        11098528  orders  [990658, 950341, 1462506, 1561739, 907564, 369...
3        11098529  clicks                                          [1105029]
4        11098530  orders                                           [409236]
...           ...     ...                                                ...
2212687  12899774  clicks                                          [1399483]
2212688  12899775  clicks                                          [1760714]
2212689  12899776  clicks                                          [1737908]
2212690  12899777  clicks                                           [384045]
2212691  12899778  clicks                                            [32070]

[2212692 rows x 3 columns]

## test_unique_aids

In [23]:
%%time
def test_unique_aids(df):
    aids = df.aid.tolist()
    unique_aids = list(dict.fromkeys(aids[::-1] ))
    return unique_aids

pred_df = test_df.sort_values(["session", "ts"]).groupby(["session"]).apply(lambda x: test_unique_aids(x))
pred_df = pd.DataFrame(pred_df, columns=["labels"]).reset_index()
pred_df["labels"] = pred_df.labels.apply(lambda x: " ".join(map(str,x)))
pred_df

CPU times: user 1min 30s, sys: 1.19 s, total: 1min 31s
Wall time: 1min 31s

          session                                             labels
0        11098528                                              11830
1        11098529                                            1105029
2        11098530                                      409236 264500
3        11098531  396199 1271998 452188 1728212 1365569 624163 1...
4        11098532                                        876469 7651
...           ...                                                ...
1801246  12899774                                              33035
1801247  12899775                                            1743151
1801248  12899776                                             548599
1801249  12899777                                             384045
1801250  12899778                                             561560

[1801251 rows x 2 columns]

# recall

In [24]:
%%time

#clicks,cart,orderのracall計算
def recall_k_evaluate(test_labels, pred_df, session_types, top_k):
    sub = pred_df.copy()
    #print(sub)
    sub.labels = sub.labels.apply(lambda x: [int(i) for i in x.split(' ')][:top_k])
    test_labels = test_labels.loc[test_labels['type']==session_types]
    test_labels = test_labels.merge(sub, how='left', on=['session'])
    test_labels['hits'] = test_labels.apply(lambda df: len(set(df.ground_truth).intersection(set(df.labels))), axis=1) 
    test_labels['gt_count'] = test_labels.ground_truth.str.len().clip(0,top_k)
    recall = test_labels['hits'].sum() / test_labels['gt_count'].sum()
    print(f'{session_types} recall =',recall)

#clicksの場合
#test label(CV変わるときのため), pred_df_clicks, type, top_kは変わるので引数にする。
recall_k_evaluate(test_labels, pred_df_clicks, 'clicks', 20)

clicks recall = 0.2786132310738499
CPU times: user 1min 14s, sys: 1.45 s, total: 1min 15s
Wall time: 1min 15s

In [27]:
test_labels

          session    type                                       ground_truth
0        11098528  clicks                                          [1679529]
1        11098528   carts                                          [1199737]
2        11098528  orders  [990658, 950341, 1462506, 1561739, 907564, 369...
3        11098529  clicks                                          [1105029]
4        11098530  orders                                           [409236]
...           ...     ...                                                ...
2212687  12899774  clicks                                          [1399483]
2212688  12899775  clicks                                          [1760714]
2212689  12899776  clicks                                          [1737908]
2212690  12899777  clicks                                           [384045]
2212691  12899778  clicks                                            [32070]

[2212692 rows x 3 columns]

In [28]:
pred_df

          session                                             labels
0        11098528                                              11830
1        11098529                                            1105029
2        11098530                                      409236 264500
3        11098531  396199 1271998 452188 1728212 1365569 624163 1...
4        11098532                                        876469 7651
...           ...                                                ...
1801246  12899774                                              33035
1801247  12899775                                            1743151
1801248  12899776                                             548599
1801249  12899777                                             384045
1801250  12899778                                             561560

[1801251 rows x 2 columns]